<div class="modal fade" id="modalAddExplore" tabindex="-1" aria-labelledby="addReviewModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <br>
                <div class="center-container">
                    <h1>Add your video!</h1>
                </div>
                <br>
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" id="title" placeholder="Enter a title for your choreo/video">
                </div>
                <div class="form-group">
                    <label for="type">Dance Style/Type</label>
                    <input type="text" class="form-control" id="type" placeholder="Enter the style of this choreography">
                </div>
                <div class="form-group">
                    <label for="embedded">YouTube URL</label>
                    <textarea type="text" class="form-control" id="embedded" 
                    placeholder="Enter the YouTube URL for your choreography (sorry, it has to be a YouTube video)"></textarea>
                </div>
                <br>
                <div class="center-container">
                    <button class="btn btn-login" onclick="submitChoreo()">Submit Choreo</button>
                </div>
            </div>
        </div>
    </div>
</div>