<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DanceAI</title>
    <link href='https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css' rel='stylesheet'>
    <link href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css' rel='stylesheet'>
    <!------------------------JS/CSS/JQuery/Bootstrap src ------------>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <!-- CSS stylesheet  -->
    <link rel="stylesheet" type="text/css" href="../static/app.css">
    <link rel="icon" type="image/png" href="{{ url_for('static',filename='favicon.png') }}">
</head>

<body style="background-color: white">
    <div class="purple-background">
        <nav class="navbar navbar-expand-lg navbar-custom">
            <div class="navbar-brand">DanceAI</div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/learn">Learn</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/explore">Explore</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/connect">Connect</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="top-container-2 center-container">
            <h1 class="page-title">{{type}} Dance Forum</h1>
            <div class="row">
                <div class="col-10">
                    <input id="forum-message" class="form-control" placeholder="Type your message here">
                </div>
                <div class="col-2">
                    <button class="btn btn-explore" onclick="sendMessage('{{type}}')">Send Message</button>
                </div>
                <br>
                <br>
                {% for message in messages %}
                <div class="forum-card left-container">
                    {{message.message}}
                    <div class="forum-writer">{{message.username}}</div>
                </div>
                {% endfor %}
            </div>
            
        </div>
        <script>
            let request = null;
            function sendMessage(type) {
                // Get data from form
                var message = $('#forum-message').val();
                if (message == '') {
                    alert("Type a message to submit it!");
                    return;
                }
                var json_event = {
                    "message": message,
                };
                if (request != null)
                    request.abort();
                var url = "/connect/add/" + type;
                request = $.post(url, {
                    dataType: 'json',
                    contentType: 'application/json',
                    event_data: JSON.stringify(json_event)
                }).done(function (data) {
                    window.location.reload();
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    alert("We had some trouble adding your message! Try again!");
                });
            }
        </script>
</body>

</html>