<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DanceAI</title>
    <link href='https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css' rel='stylesheet'>
    <link href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css' rel='stylesheet'>
    <!------------------------JS/CSS/JQuery/Bootstrap src ------------>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <!-- CSS stylesheet  -->
    <link rel="stylesheet" type="text/css" href="../static/app.css">
    <link rel="icon" type="image/png" href="{{ url_for('static',filename='favicon.png') }}">
</head>

<body style="background-color: white">
    <div class="purple-background">
        <nav class="navbar navbar-expand-lg navbar-custom">
            <div class="navbar-brand">DanceAI</div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/learn">Learn</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/explore">Explore</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/connect">Connect</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="top-container-2 center-container">
            <h1 class="page-title">Learn A Dance Style</h1>
            <br>
            <div class="row">
                <div class="col-md-6">
                    <div class="dance-card">
                        <h1>TikTok</h1>
                        <img class="card-img" src="../static/assets/tiktok.jpg">
                        <br>
                    </div>
                </div>
                <br>
                <div class="col-md-6">
                    <div class="dance-card">
                        <h1>Hip Hop</h1>
                        <img class="card-img" src="../static/assets/hiphop.jpg">
                        <br>
                    </div>
                </div>
                <br>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="dance-card">
                        <h1>Ballet</h1>
                    </div>
                    <br>
                </div>
                <br>
                <div class="col-md-6">
                    <div class="dance-card">
                        <h1>K-Pop</h1>
                    </div>
                    <br>
                </div>
                <br>
            </div>
        </div>
    </div>
    {% include 'templates/login.html' %}
    <script>
        let request = null;
        function openLogin() {
            $('#modalLogin').modal('show')
        }
        function login() {
            // Get data from form
            var username = $('#username').val();
            var password = $('#password').val();
            if (username == '' || password == '') {
                alert("Please enter a username and password!");
                return;
            }
            var json_event = {
                "username": username,
                "password": password,
            };
            if (request != null)
                request.abort();
            request = $.post("/login", {
                dataType: 'json',
                contentType: 'application/json',
                event_data: JSON.stringify(json_event)
            }).done(function (data) {
            }).fail(function (jqXHR, textStatus, errorThrown) {
                alert("Login/Sign Up failed");
            });
        }
    </script>
</body>

</html>